* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color: lightsteelblue;
/*    position: relative;*/
}



.sodaMachine{
    background-color: #ffb347;
    border: 4px solid #fa9200;
    padding: 10px;
/*    or absolute*/
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 500px; /* Need a specific value to work */
    
    height: 90%;
    margin-top: 10px;
    padding: 10px;

}

.machineLabel{
    background-color: #add8e6;
/*    position: relative;*/
/*
    position: absolute;
    left: 0;
    top: 0;
*/
/*    margin: 10px;*/
    height: 10%;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
}


.mainPanel{
/*    display: inline-block;*/
/*    #188781 #20b2aa*/
    background-color: #20b2aa;
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 400px;
/*    width: 50%;*/
    position: relative;
    overflow: scroll;
    text-align: center;
}
#userMenu{
/*    display: inline-block;*/
    background-color: gray;
/*    border: 2px solid black;*/
/*
    width: 50%;
    height: 100%;
*/
/*    width: 200px;*/
/*    height: 100px;*/
/*    height: 1000px;*/
    position: relative;
}


/*SODA STYLES*/
.soda{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    margin: 10px;
    height: 100px;
/*    width: 100px;*/
    width: 40%;
    background-color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 10px;
}

.soda:hover{
    background-color: #e0ffff;
}

.soda:active{
    background-color: #d5f5f5;
}
/*==========*/

/*user menu styles*/
#statusBar, #toolBar{
    background-color: antiquewhite;
    border: 2px solid black;
/*    width: %;*/
    margin: auto;
    height: 140px;
    text-align: center;
    overflow: scroll;
}

#getButton, #uselessBtn{
    background-color: white;
/*    border: 2px dotted gray;*/
    border: none;
    width: 100%;
    height: 80px;
    padding: 10px;
}

#swapBtn{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100px;
    height: 70px;
}

/*admin toolbar*/
.grid_items {
    padding: 3%;
    display: grid;
    grid-template-columns: 40% 40%;
    grid-column-gap: 5%;
    grid-row-gap: 10px;
    justify-content: space-around;
}
.grid_item {
    background-color: #ffb347;
    color: white;
/*    background-color: grey;*/
    padding: 5%;
    border: none;
}
.grid_item:hover{
    background-color: #fa9200;
}
.grid_item:active{
    background-color: #ffbe61;
}
/*end admin toolbar*/