* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-color:skyblue;
/*    position: relative;*/
}



#sodaMachine{
    background-color: #ffb347;
    padding: 10px;
/*    or absolute*/
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; /* Need a specific value to work */
    
    height: 90%;
    margin-top: 10px;
    padding: 10px;

}

#machineLabel{
    background-color: #add8e6;
/*    position: relative;*/
/*
    position: absolute;
    left: 0;
    top: 0;
*/
/*    margin: 10px;*/
    height: 10%;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    border: 2px solid black;
    padding: 20px;
}


#sodaList{
/*    display: inline-block;*/
    background-color: lightseagreen;
    height: 400px;
/*    width: 50%;*/
    position: relative;
    overflow: scroll;
    text-align: center;
}
#userMenu{
/*    display: inline-block;*/
    background-color: gray;
/*    border: 2px solid black;*/
/*
    width: 50%;
    height: 100%;
*/
/*    width: 200px;*/
/*    height: 100px;*/
/*    height: 1000px;*/
    position: relative;
}


/*SODA STYLES*/
.soda{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    margin: 10px;
    height: 100px;
/*    width: 100px;*/
    width: 40%;
    background-color: white;
    display: inline-block;
    position: relative;
    text-align: center;
    padding: 10px;
}

.soda:hover{
    background-color: #e0ffff;
}

.soda:active{
    background-color: #d5f5f5;
}
/*==========*/

/*user menu styles*/
#statusBar{
    background-color: antiquewhite;
    border: 2px solid black;
/*    width: %;*/
    margin: auto;
    height: 80px;
    text-align: center;
    
}

#getButton{
    background-color: white;
    border: 2px dotted gray;
    width: 100%;
    padding: 10px;
}