* {
    margin: 0;
    padding: 0;
    font-size: 20px;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    width: 100%;
    background-color:skyblue;
/*    position: relative;*/
}



#sodaMachine{
    background-color: #ffb347;
    padding: 10px;
    
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: auto; 
    margin-right: auto; 
    width: 50%; /* Need a specific value to work */
    
    height: 90%;
    margin-top: 10px;
    padding: 10px;

}

#machineLabel{
    background-color: #add8e6;
/*    position: relative;*/
/*
    position: absolute;
    left: 0;
    top: 0;
*/
    margin: 10px;
    height: 10%;
    width: 100%;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}


#bottomHalf{
    background-color: blue;
/*
    position: absolute;
    left: 10%;
    top: 20%;
*/
    height: 50%;
}

#sodaList{
    display: inline-block;
    background-color: lightgray;
    height: 100%;
    width: 50%;
    position: relative;
    overflow: scroll;
}
#userMenu{
    display: inline-block;
    background-color: purple;
    width: 30%;
    height: 10%;
    position: relative;
}


/*SODA STYLES*/
.soda{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    margin: 10px;
    height: 100px;
/*    width: 100px;*/
    width: 40%;
    background-color: white;
    display: inline-block;
    position: relative;
    text-align: center;
}

.soda:hover{
    background-color: #e0ffff;
}

.soda:active{
    background-color: #d5f5f5;
}
/*==========*/
